fqdn==1.5.1
isoduration==20.11.0
jsonpointer==3.0.0
jupyter==1.1.1
jupyter_contrib_nbextensions==0.7.0
nbstripout==0.8.1
pip==25.0.1
pre_commit==4.1.0
tinycss2==1.4.0
uri-template==1.3.0
webcolors==24.11.1
